.content {
    background: url(../../public/classic-and-rare-books.jpg) no-repeat center / cover;
    color: white;
}

.container {
    width: 1176px;

    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
}

.title {
    font-size: 56px;
    font-weight: 100;

    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

.bookTitleInput {
    border: none;
    outline: none;
    height: 48px;
    border-radius: 48px;
    font-size: 20px;
    width: 726px;

    padding-left: 42px;
    margin-bottom: 86px;
}

.bookCategories {
   width: 768px;

   margin: 0 auto;
   margin-bottom: 120px;
}

.bookCategoriesInput {
    float: left;

    border: none;
    outline: none;
    height: 48px;
    border-radius: 48px;
    font-size: 20px;
    width: 312px;
    padding-left: 42px;
}

.bookSortInput {
    float: right;

    border: none;
    outline: none;
    height: 48px;
    border-radius: 48px;
    font-size: 20px;
    width: 312px;
    padding-left: 42px;
}